NUTRITRACK_PORT=3000
POSTGRES_PORT=5432
NUTRITRACK_BASE_PATH=/nutritrack
NUTRITRACK_PUBLIC_URL=https://mercurio.isti.cnr.it/nutritrack/

NUTRITRACK_APP_MODE=authenticated-user
NUTRITRACK_LOCAL_USER_EMAIL=app-local@nutritrack.local
NUTRITRACK_ENABLE_DEVELOPMENT_SEED=0
NUTRITRACK_SESSION_TTL_DAYS=14
NUTRITRACK_SMTP_HOST=smtp.gmail.com
NUTRITRACK_SMTP_PORT=587
NUTRITRACK_SMTP_SECURE=0
NUTRITRACK_SMTP_USER=nutritrack.isti@gmail.com
NUTRITRACK_SMTP_PASS=
NUTRITRACK_MAIL_FROM=NutriTrack <nutritrack.isti@gmail.com>
SCALE_PROVIDER=mock

AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT=
AZURE_OPENAI_API_VERSION=2024-05-01-preview
